.directory-container {
    text-align: left;
    padding: 100px;
    margin-top: 0px;
  }

  h1 {
    font-size: 24px;
  }
  
  .trial-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .trial-table th,

  .trial-table td {
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
  }
  
  .trial-table th {
    background-color: #ffffff;
  }
  
  .trial-table tbody  {
    background-color: #ffffff81;
  }
  