/* Form.css */
.form-container {
    text-align: left;
  }

.input-group-label {
    display: block;
    margin-bottom: 30px;
  }
  
  .input-group-input {
    display: block;
    width: 55%;
    height:85%;
    padding: 20px;
    margin-bottom: 30px;
  }
  