.nav-container {
  background-color: rgb(29, 29, 29);
  padding: 15px 40px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center items vertically */
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-item {
  margin-right: 30px;
}

.nav-item:last-child {
  margin-right: 70px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-logo {
  width: 100px; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
  fill: #fff;
}
