.chart-container {
    text-align: left;
    padding: 100px;
  }

.submit-button {
  width: 200px; /* Remove the quotation marks */
  height: 75px; /* Remove the quotation marks */
  font-size: 24px; /* Remove the quotation marks */
  margin-top: 20px;
}
