.chart-container {
  margin-top: 0px;
  text-align: left;
  padding: 100px;
 }

.submit-button {
  margin-top: 20px;
  display: inline-block;
  background-color: #60cdff;
  color: black;
  padding: 10px 30px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
} */

 submit-button:hover {
  background-color: #60cdff;
} 

.submit-link {
  display: inline-block;
  background-color: #60cdff;
  color: black;
  padding: 10px 30px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}