/* Home.css */
.home-container {
  text-align: left;
  padding: 100px;
}


.home-title {
  font-size: 48px;
  color: #333;
  
}

.home-subtitle {
  font-size: 24px;
  color: #666;
  margin-bottom: 30px;
}

.get-started-link {
  display: inline-block;
  background-color: #08a8d5;
  color: black;
  padding: 15px 30px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}



.get-started-link:hover {
  background-color: #08a8d5;
}
