.reg-container {
    text-align: left;
    padding: 100px;
}

.input-group-label {
    display: block;
    margin-bottom: 3px;
}

.input-group-input {
    display: block;
    width: 55%;
    height:50%;
    padding: 10px;
    margin-bottom: 30px;
    font-size: 16px;
}

.reg-button {
    width: 150px; /* Remove the quotation marks */
    height: 50px; /* Remove the quotation marks */
    font-size: 24px; /* Remove the quotation marks */
    text-align: center;
    background-color: #89CFF0;
    color: #000000;
}